{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
      rel="stylesheet" />
<link href="{% static 'styles/style.css' %}" rel="stylesheet">
<link href="{% static 'styles/menu.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="{% static 'scripts/menu.js' %}"></script>
<header id="nav-menu" aria-label="navigation bar">
    <div class="nav-container">
        <div class="nav-start">
            <a class="logo" href="/">
                <img src="{% static 'images/logo.png' %}"
                     width="35"
                     height="35"
                     alt="Logo" />
                <p>Atomify</p>
            </a>
            <nav class="menu">
                <ul class="menu-bar">
                    <li>
                        <button class="nav-link dropdown-btn"
                                data-dropdown="dropdown1"
                                aria-haspopup="true"
                                aria-expanded="false"
                                aria-label="browse">
                            Browse
                            <span class="material-symbols-outlined">keyboard_arrow_down</span>
                        </button>
                        <div id="dropdown1" class="dropdown">
                            <ul role="menu">
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#best-of-the-day">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/botd.svg"
                                             class="icon" />
                                        <div>
                                            <span class="dropdown-link-title">Best of the day</span>
                                            <p>Shorts featured today by curators</p>
                                        </div>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#featured-streams">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/fs.svg"
                                             class="icon" />
                                        <div>
                                            <span class="dropdown-link-title">Featured Streams</span>
                                            <p>Leading creatives livestreams</p>
                                        </div>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#subscriptions">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/sp.svg"
                                             class="icon" />
                                        <div>
                                            <span class="dropdown-link-title">Subscriptions</span>
                                            <p>Gain exclusive access</p>
                                        </div>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#creative-feed">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/cf.svg"
                                             class="icon" />
                                        <div>
                                            <span class="dropdown-link-title">Creative Feed</span>
                                            <p>See trending creations</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul role="menu">
                                <li class="dropdown-title">
                                    <span class="dropdown-link-title">Browse by apps</span>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#adobe-xd">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/xd.svg" />
                                        Adobe XD
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#after-effect">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/ae.svg" />
                                        After Effect
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#sketch">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/sketch.svg" />
                                        Sketch
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#indesign">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/indesign.svg" />
                                        Indesign
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="#figma">
                                        <img src="https://raw.githubusercontent.com/Evavic44/responsive-navbar-with-dropdown/main/assets/icons/figma.svg" />
                                        Figma
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="nav-link dropdown-btn"
                                data-dropdown="dropdown2"
                                aria-haspopup="true"
                                aria-expanded="false"
                                aria-label="discover">
                            Discover
                            <span class="material-symbols-outlined">keyboard_arrow_down</span>
                        </button>
                        <div id="dropdown2" class="dropdown">
                            <ul role="menu">
                                <li>
                                    <span class="dropdown-link-title">App</span>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/">Profile</a>
                                </li>
                            </ul>
                            <ul role="menu">
                                <li>
                                    <span class="dropdown-link-title">Auth</span>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/">Login</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/">Sign Up</a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-link" href="/">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link" href="/">Jobs</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">Livestream</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">About</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="nav-end">
            <div class="right-container">
                <form class="search" role="search">
                    <input type="search" name="search" placeholder="Search" />
                    <span class="material-symbols-outlined">search</span>
                </form>
                <button id="hamburger"
                        aria-label="hamburger"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </div>
        </div>
    </div>
</header>
